<!-- asset_management/templates/asset_management/asset_list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Assets</title>
</head>
<body>
    <h1>Assets</h1>
    <a href="{% url 'asset_create' %}">Add New Asset</a>
    <ul>
        {% for asset in assets %}
            <li>
                <a href="{% url 'asset_detail' asset.id %}">{{ asset.name }}</a>
                (<a href="{% url 'asset_edit' asset.id %}">Edit</a>,
                <a href="{% url 'asset_delete' asset.id %}">Delete</a>)
            </li>
        {% endfor %}
    </ul>
</body>
</html>
